* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: #ffefd3;
    --landing-text-color: #E8A17D;
}

.airport-specifics-page {
    font-family: Anton;
    color: var(--landing-text-color);
    position: relative;
    height: 100vh;
    background-color: var(--bg-color);
    border: 1px solid gray;
}


.airport-specifics-head  {
    position: absolute;
    font-size: 3.6rem;
    /* border: 1px solid black; */
    text-align: center;
    top: 3%;
    left: 39%;
}

.airport-specifics-details-page .airport-specifics-view-data {
    position: absolute;
    height: 70vh;
    top: 20%;
    left: 10%;
    width: 30vw;
    /* border: 2px solid blue; */
}

.airport-specifics-view-details-form {
    font-size: 1.6rem;
    margin-top: 8rem;
    margin-left: 3rem;
    /* border: 1px solid black; */
    position: relative;
}

.airport-specifics-view-button-container {
    position: absolute;
    left: 10%;
}

.airport-specifics-view-details-form input[type="text"] {
    border: none;
    border-bottom: 2px solid var(--landing-text-color);
    background-color: var(--bg-color);
    box-sizing: border-box; 
    font-family: Anton;
    font-size: 1.4rem;
    color: var(--landing-text-color);
    padding: 5px 0; 
    margin-bottom: 10px; 
    margin-left: 1rem;
    outline: none;
}

.airport-specifics-view-result {
    margin-top: 2rem;
    font-size: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    /* border: 1px solid black; */
    position: absolute;
    left: 60%;
    top: 15%;
}